@model IkMvc.Application.Model.Dto.DepartmentDtos.DepartmentDto

<h2>Edit Department</h2>

<form asp-action="Edit">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <input type="hidden" asp-for="DepartmentId" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="@Url.Action("Index", "Department")" class="btn btn-secondary ms-3">Back</a>
    </div>
</form>
